
body{
    background-color: rgb(255, 249, 207);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
    margin: 0; /* Sayfa kenar boşluklarını kaldır */
}
.userInput{

    border: solid black 1px;
   width: 3rem;
   height: 3rem;
   text-align: center;
    height: 4rem;
    width: 4rem;
    font-size: 2rem;
   margin-top: 5rem;
   margin-left: 2rem;
}
 button{
    margin-bottom: 1rem;
    border: solid black 1px;
    border-radius: 1rem;
    background-color:rgb(212, 212, 212);
    text-align: center;
    margin-top: 2rem;
    width: 10rem;
    height: 4rem;
    transition: 100ms;

}
button:hover{
    background-color: rgb(126, 223, 109);
}

label {
    margin-bottom: 5px;
}

.gameNumberInput{
    border: solid black 1px;
    width: 3rem;
    height: 3rem;
    text-align: center;
     height: 4rem;
     width: 4rem;
     font-size: 2rem;
    margin-top: 5rem;
    margin-left: 2rem;
}